<template>
  <section class="section-blog-detail py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <pre>{{ detail }}</pre>
          <div class="blog-image">
            <img
              src="https://diabetebsl.com/wp-content/uploads/2019/09/lorem-picsum-1920-1080-3.jpg"
              alt=""
              class="img-fluid rounded"
            />
          </div>
          <div class="blog-title py-3">
            <h1>{{detail.TITLE}}</h1>
          </div>
          <div class="blog-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              quis dui dapibus, blandit erat et, facilisis sapien. Duis ut erat
              justo. Nunc libero lectus, suscipit quis lacus et, bibendum
              facilisis enim. Morbi non diam auctor, posuere neque ac, pretium
              mauris. Phasellus gravida lectus vitae arcu eleifend, nec mattis
              magna venenatis. Phasellus elementum enim eget leo venenatis
              tincidunt. Aliquam erat volutpat. Quisque ullamcorper sem ut massa
              interdum auctor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import UrlUtils from "@/utils/url-utils";
export default {
  async asyncData({ params, $axios }) {
    let uri = params.id;
    let id = UrlUtils.extractID(uri);
    
    let api = await $axios.$get(
      `http://demoapi.studiopop.id/api/content/${id}`,
      
    );
    // console.log(process.env.SECURE_TOKEN)
    return { detail: api.data };
    
  },
};
</script>

<style>
</style>