<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <NuxtLink class="navbar-brand" to="/">Navbar</NuxtLink>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-2 mb-2 mb-lg-0">
          <li class="nav-item">
            <NuxtLink class="nav-link active" aria-current="page" to="/about"
              >About</NuxtLink
            >
          </li>
          <li class="nav-item">
            <NuxtLink class="nav-link" to="/services">Services</NuxtLink>
          </li>
          <li class="nav-item">
            <NuxtLink class="nav-link" to="/project">Project</NuxtLink>
          </li>
          <li class="nav-item">
            <NuxtLink class="nav-link" to="/blog">Blog</NuxtLink>
          </li>
          <li class="nav-item">
            <NuxtLink class="btn rounded-0" to="/contact">Let's Talk</NuxtLink>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {};
</script>

<style>
.bg-dark {
  background-color: #191919 !important;
}
.navbar .navbar-nav li {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 0 40px;
  line-height: 70px;
  height: 70px;
  align-self: baseline;
}
.navbar .navbar-nav .btn {
  line-height: 50px;
  padding: 0 30px;
  vertical-align: middle;
  background-color: #f3d940;
  font-size: 16px;
  font-weight: 700;
}
</style>