<template>
  <div class="notFound">
    <div class="wrapper d-flex align-items-center">
      <div class="content">
        <img src="~/assets/img/logo/google.png" class="img-google" alt="" />
        <p class="py-3 mb-0">
          404. <span class="text-muted">That’s an error.</span>
        </p>
        <p>
          The requested URL was not found on this server.<span
            class="text-muted"
          >
            That’s all we know.</span
          >
        </p>
      </div>
      <div class="content-img text-center">
        <img src="~/assets/img/logo/robot-error.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["error"],
  layout: "error", // you can set a custom layout for the error page
};
</script>

<style>
.notFound {
    display: flex;
    justify-content: center;
}
.notFound .wrapper {
  height: 50vh;
  width: 850px;
}
.notFound .wrapper .content,
.notFound .wrapper .content-img {
  width: 100%;
}

.notFound .img-google {
  width: 25%;
}
.notFound .img-robot {
  /* width: 10%; */
}
</style>