<template>
  <div>
    <ul>
      <li v-for="mountain of mountains" :key="mountain.slug">
        <NuxtLink :to="buildUrl(mountain)">{{ mountain.title }}</NuxtLink>
      </li>
    </ul>
  </div>
</template>



<script>
export default {
  async asyncData({ $axios }) {
    const mountains = await $axios.$get(`https://api.nuxtjs.dev/mountains`);
    return { mountains };
  },

  methods: {
    buildUrl(mountain) {
      return "/mountains/" + this.$slugify(mountain.title);
    },
  },
};
</script>