<template>
  <div>
    <section class="section-hero">
      <div class="container">
        <div class="wrapper-hero">
          <div class="hero-content">
            <h1>The creative agency for ambitious tech brands.</h1>
            <button class="btn btn-warning btn-lg rounded-0">Let's Talk</button>
          </div>
          <div class="hero-image"></div>
        </div>
      </div>
    </section>
    <section class="section-client">
      <div class="container">
        <div class="row">
          <swiper ref="mySwiper" :options="swiperOptions">
            <swiper-slide v-for="i in 15" :key="i"
              ><img
                :src="require(`~/assets/img/client/` + i + `.png`)"
                class="img-fluid w-75"
                alt=""
            /></swiper-slide>

            <div class="swiper-pagination swiper-pagination-bullets"></div>
          </swiper>
        </div>
      </div>
    </section>
    <section class="section-about">
      <div class="container">
        <div class="row">
          <div class="col-md-6 pe-0">
            <div class="content-large yellow">
              <h2>Hallo, We're Lorem Ipsum</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                sit amet pulvinar elit, sit amet ultricies urna. Aliquam a
                interdum arcu. Ut condimentum dui eget augue faucibus mollis. In
                ultricies sollicitudin mi, eget placerat mi ullamcorper vitae.
                Mauris interdum luctus libero, vitae aliquam nunc posuere vel.
                Donec eget orci arcu.
              </p>
            </div>
          </div>
          <div class="col-md-6 ps-0">
            <div class="content-large white">
              <div class="wrapper">
                <p>
                  Why pick us? We get tech. We’re your in-the-trenches partner.
                  You get our team’s total, unwavering commitment. Expect sharp
                  strategic guidance, deep creativity, and a relentless focus on
                  execution.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-case">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="heading">
              <h2>Great marketing? It’s harder than you think.</h2>
              <p>See if these problems ring a bell.</p>
            </div>
            <div class="section-accordion">
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne"
                      aria-expanded="false"
                      aria-controls="flush-collapseOne"
                    >
                      <h2>
                        Creating a marketing strategy is overwhelming. Where do
                        you even start?
                      </h2>
                    </button>
                  </h2>
                  <div
                    id="flush-collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vivamus vitae efficitur ex. Praesent non ante tortor.
                      Pellentesque vitae tincidunt urna. Nullam in diam
                      scelerisque, lobortis tellus quis, dapibus risus. Orci
                      varius natoque penatibus et magnis dis parturient montes,
                      nascetur ridiculus mus. Duis varius ipsum sem, et cursus
                      lectus faucibus sed.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo"
                      aria-expanded="false"
                      aria-controls="flush-collapseTwo"
                    >
                      <h2>
                        Creating a marketing strategy is overwhelming. Where do
                        you even start?
                      </h2>
                    </button>
                  </h2>
                  <div
                    id="flush-collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vivamus vitae efficitur ex. Praesent non ante tortor.
                      Pellentesque vitae tincidunt urna. Nullam in diam
                      scelerisque, lobortis tellus quis, dapibus risus. Orci
                      varius natoque penatibus et magnis dis parturient montes,
                      nascetur ridiculus mus. Duis varius ipsum sem, et cursus
                      lectus faucibus sed.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree"
                      aria-expanded="false"
                      aria-controls="flush-collapseThree"
                    >
                      <h2>
                        Creating a marketing strategy is overwhelming. Where do
                        you even start?
                      </h2>
                    </button>
                  </h2>
                  <div
                    id="flush-collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vivamus vitae efficitur ex. Praesent non ante tortor.
                      Pellentesque vitae tincidunt urna. Nullam in diam
                      scelerisque, lobortis tellus quis, dapibus risus. Orci
                      varius natoque penatibus et magnis dis parturient montes,
                      nascetur ridiculus mus. Duis varius ipsum sem, et cursus
                      lectus faucibus sed.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-blog">
      <div class="container">
        <div class="row">
          <div class="heading">
            <h2>Our Latest</h2>
          </div>
        </div>
        <div class="grid-4">
          <figure class="figure" v-for="blog in blogs" :key="blog.ID">
            <img :src="blog.IMAGE" class="figure-img img-fluid rounded" />
            <NuxtLink :to="buildUrl(blog)" @click="refresh">Tes</NuxtLink>

            <figcaption class="figure-caption">
              {{ blog.TITLE }}
            </figcaption>
          </figure>
        </div>
        <pre>{{ blogs }}</pre>
      </div>
    </section>
  </div>
</template>

<script>
export default {
    auth: 'guest',
  data() {
    return {

      swiperOptions: {
        slidesPerView: 6,
        spaceBetween: 30,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
        },
      },
    };
  },

  async asyncData({ $axios }) {
    const category = 1;
    const per_page = 4;
    const apiBlogs = await $axios.$get(
      "/content?category=" + category + "&perpage=" + per_page
    );
    return { blogs: apiBlogs.data };
  },
  methods: {
    buildUrl(blog) {
      return "/journal-detail/" + this.$slugify(blog.ID, blog.TITLE);
    },
    refresh() {
        this.$nuxt.refresh()
      }
  },
};
</script>

<style>
.section-hero {
  background: #191919;
  color: #fff;
  overflow: hidden;
}
.section-hero .wrapper-hero {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  min-height: 700px;
  position: relative;
  margin: 0 auto;
}
.hero-content {
  z-index: 1;
  position: relative;
  max-width: 560px;
  padding: 80px 0;
}
.hero-image {
  position: absolute;
  top: 50%;
  left: 640px;
  width: 960px;
  height: 700px;
  background: no-repeat center url(~assets/img/illustration/hero.png);
  background-size: contain;
  transform: translate(0, -50%);
}
::v-deep.swiper-pagination-bullet-active {
  background-color: black;
}
.section-client {
  background: #191919;
}

.section-about {
  box-shadow: inset 0 200px 0 #191919;
}

.section-about .content-large.white .wrapper {
  padding: 116px 35px 116px 61px;
  border-top: 40px solid #191919;
  border-right: 40px solid #191919;
  border-bottom: 40px solid #191919;

  margin-top: 5rem;
}

.section-about .content-large.content-large.yellow {
  z-index: 1;
  position: relative;
  padding: 80px 40px 300px 80px;
  margin-top: 5rem;
}
.content-large.yellow {
  background: linear-gradient(19deg, #000 25%, #f3d940 0%);
  /* animation: wave 15s infinite linear; */
}
.content-large.white {
  background: #fff no-repeat;
}

.section-about .content-large h2,
.section-about .content-large p {
  color: #000;
}

.section-about .content-large h2 {
  font-size: 42px;
  font-weight: 700;
}
.section-about .content-large p {
  font-size: 22px;
}

.section-case {
  margin-top: 5rem;
}
.section-case .heading {
  text-align: left;
  max-width: 560px;
  margin-left: 0;
}

.section-case h2 {
  font-size: 42px;
  font-weight: 700;
}
.section-case p {
  font-size: 22px;
}

.section-case .section-accordion .accordion-item h2 {
  font-size: 22px;
  font-weight: 700;
}

.section-blog {
  margin-top: 5rem;
}
.section-blog .heading {
  text-align: left;
  max-width: 560px;
  margin-left: 0;
}
.section-blog .heading h2 {
  font-size: 42px;
  font-weight: 700;
}

.section-blog .grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 14px;
  padding-top: 25px;
}

.section-blog figure .figure-img {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.section-blog figure .figure-caption {
  font-size: 18px;
  color: #000;
  font-weight: 700;
}
/* ===== Animation ==== */
@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
</style>
